.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!X_test.html
!X_train.html
!dummy.html

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix